.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

a:hover {
	opacity: .8;
}

header {
	position: relative;
	min-height: 50px;
	margin-top: 40px;
}
header a.brand {
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	overflow: hidden;
	width: 241px; height: 51px;
	line-height: 1;
	font-size: 48px;
	font-weight: bold;
	text-indent: -200px;
}
header nav ul {
	float: right;
	margin: 0;
}
header nav li {
	float: left;
	position: relative;
	display: block;
}
header nav li:first-child {
	margin: 0 25px;
}
header nav li a,
header nav li a:active {
	font-size: 18px;
	color: #666;
}

main.masthead {
	text-align: center;
}
h2.slogan {
	font-size: 68px;
	color: #000;
	line-height: 88px;
	font-weight: normal;
}

.tower .subtitle {
	font-size: 38px;
	color: #666;
	margin: 24px 0 30px;
}

.hero-image {
	width: 100%;
	max-width: 842px;
}

.stat {
	margin: 48px 0 80px;
}
.stat h3 {
	font-size: 48px;
	color: #666;
	font-weight: normal;
	margin: 0;
}
.stat p.num {
	font-size: 220px;
	font-weight: bold;
	color: #000;
	margin: 0;
	line-height: 1;
}
.stat .plus {
	font-size: 160px;
	font-weight: normal;
	color: #666;
	line-height: 200px;
	margin-left: 20px;
	vertical-align: top;
}

.others {
	padding: 240px 0 180px;
}
.others ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.others ul li {
	width: 42%;
	margin-left: 8%;
	float: left;
	text-align: left;
}
.others ul li a {
	display: block;
	cursor: pointer;
}
.others ul li img {
	float: left;
	position: relative;
}
.others ul li .detail {
	margin-left: 110px;
	padding: 10px 0;
}
.others ul li .detail h4 {
	letter-spacing: 4px;
}
.others ul li .detail h4,
.others ul li .detail p {
	margin: 0;
	font-size: 28px;
	font-weight: lighter;
	color: #000;
}

main.masthead a.btn {
	background-color: #8fbbb6;
	padding: 20px 53px;
	border-radius: 6px;
	color: #fff;
	font-size: 40px;
}

footer {
	margin: 0; padding: 0;
	background-color: #777;
}
footer .container {
	width: 80%;
	padding: 50px 0 43px;
}
footer .container p {
	margin: 36px 0 0;
	color: #aaa;
	font-size: 16px;
}
.footer-links, .social{
	list-style: none;
	padding: 0; margin: 0;
}
.footer-links li {
	float: left;
	margin-right: 20px;
	color: #aaa;
}
.footer-links li a {
	font-size: 16px;
	color: #aaa;
}
.social {
	float: right;
}
.social li {
	display: inline-block;
	margin-right: 50px;
}
.social li a {
	background-image: url('/img/social.png');
	background-repeat: no-repeat;
	display: block;
}
.gplus{ background-position: 0 0; width: 27px; height: 27px; }
.rss{ background-position: 0 -67px; width: 27px; height: 27px; }
.twitter{ background-position: 0 -134px; width: 32px; height: 26px; }
.weibo{ background-position: 0 -200px; width: 34px; height: 31px; }

@media (max-width: 767px) {
	main.masthead .container {
  	margin-top: 40px;
  }
  header {
  	margin-top: 20px;
  }
  header a.brand {
		background-size: 50%;
		position: absolute;
	}
  h2.slogan {
		font-size: 26px;
		line-height: 38px;
	}

	.tower-logo {
		max-width: 120px;
	}
	.tower .subtitle {
		font-size: 26px;
		margin: 12px 0 20px;
	}

	.stat {
		margin: 26px 0 60px;
	}
	.stat h3 {
		font-size: 26px;
	}
	.stat p.num {
		font-size: 60px;
		margin-top: 10px;
	}
	.stat .plus {
		font-size: 40px;
		line-height: 50px;
		margin-left: 10px;
	}

	main.masthead a.btn {
		font-size: 20px;
		padding: 14px 40px
	}

	.others {
		padding: 100px 0 180px;
	}
	.others ul li {
		width: 80%;
		text-align: center;
		min-height: 80px;
	}
	.others ul li img {
		max-width: 60px;
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.others ul li .detail {
		margin-left: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	.others ul li .detail h4, .others ul li .detail p {
		font-size: 16px;
	}

	.footer-links {
		display: none;
	}
	footer .container {
		width: 100%;
		padding: 25px 0 30px;
		text-align: center;
	}
	.social {
		float: none;
		width: 62%;
		margin: 0 auto;
	}
	.social li {
		margin: 0 4%;
	}
	footer .container p {
		margin: 20px 0 0;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	main.masthead .container {
  	margin-top: 60px;
  }
  h2.slogan {
		font-size: 58px;
		line-height: 78px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	main.masthead .container {
  	margin-top: 80px;
  }
}
@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
	main.masthead .container {
		margin-top: 100px;
	}
	.tower {
		margin-top: 50px;
	}
}
