@mixin ie6png($path, $ext: "png", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";

	background-image: url("#{$at1x_path}");
	background-repeat: no-repeat;
	background-size: $w $h;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{$at1x_path}");
}

body, button, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, "SimHei", Arial, sans-serif;
}

.header {
	a.brand {
		@include ie6png('../images/logo', png, 100% , auto);
	}
}

#page-team {
	.hire .icon-you {
		@include ie6png('../images/icon-you', png, 100% , auto);
	}
}

.footer {
	.social li {
		a.weibo {
			@include ie6png('../images/weibo', png, 100% , auto);
		}
		a.rss {
			@include ie6png('../images/rss', png, 100% , auto);
		}
	}
}
