.header a.brand {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/logo.png");
}

#page-index .tower .tower-logo {
  background-image: url("../images/tower-logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tower-logo.png");
}
#page-index .others ul li {
  width: 35%;
}
#page-index .others ul li i.designboard {
  background-image: url("../images/designboard.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/designboard.png");
}
#page-index .others ul li i.teamcola {
  background-image: url("../images/teamcola.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/teamcola.png");
}

#page-team .hire .icon-you {
  background-image: url("../images/icon-you.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon-you.png");
}
#page-team .jack .avatar {
  background-image: url("../images/jack.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/jack.png");
}
#page-team .zchar .avatar {
  background-image: url("../images/zchar.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/zchar.png");
}
#page-team .malu .avatar {
  background-image: url("../images/malu.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/malu.png");
}
#page-team .manfred .avatar {
  background-image: url("../images/manfred.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/manfred.png");
}
#page-team .farthinker .avatar {
  background-image: url("../images/farthinker.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/farthinker.png");
}
#page-team .fish .avatar {
  background-image: url("../images/fish.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/fish.png");
}
#page-team .maklu .avatar {
  background-image: url("../images/maklu.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/maklu.png");
}
#page-team .mybeky .avatar {
  background-image: url("../images/mybeky.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/mybeky.png");
}
#page-team .seandong .avatar {
  background-image: url("../images/seandong.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/seandong.png");
}
#page-team .tinyfive .avatar {
  background-image: url("../images/tinyfive.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tinyfive.png");
}
#page-team .ruochen .avatar {
  background-image: url("../images/ruochen.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/ruochen.png");
}
#page-team .snow .avatar {
  background-image: url("../images/snow.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/snow.png");
}
#page-team .dragon .avatar {
  background-image: url("../images/dragon.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/dragon.png");
}
#page-team .calf .avatar {
  background-image: url("../images/calf.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/calf.png");
}
#page-team .lendice .avatar {
  background-image: url("../images/lendice.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/lendice.png");
}
#page-team .dongdong .avatar {
  background-image: url("../images/dongdong.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/dongdong.png");
}
#page-team .alfredwu .avatar {
  background-image: url("../images/alfredwu.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/alfredwu.png");
}
#page-team .xiaoyan .avatar {
  background-image: url("../images/xiaoyan.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/xiaoyan.png");
}

.footer .social li a.weibo {
  background-image: url("../images/weibo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weibo.png");
}
.footer .social li a.rss {
  background-image: url("../images/rss.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/rss.png");
}
.footer .social li a.weixin {
  background-image: url("../images/weixin.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weixin.png");
}
.footer .weixin-info {
  background-image: url("../images/weixin-info.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weixin-info.png");
}
