body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, "SimHei", Arial, sans-serif;
}

.header a.brand {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/logo.png");
}

#page-team .hire .icon-you {
  background-image: url("../images/icon-you.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon-you.png");
}

.footer .social li a.weibo {
  background-image: url("../images/weibo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weibo.png");
}
.footer .social li a.rss {
  background-image: url("../images/rss.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/rss.png");
}
.footer .social li a.weixin {
  background-image: url("../images/weixin.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weixin.png");
}
.footer .weixin-info {
  background-image: url("../images/weixin-info.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/weixin-info.png");
}
