@mixin ie6png($path, $ext: "png", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";

	background-image: url("#{$at1x_path}");
	background-repeat: no-repeat;
	background-size: $w $h;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{$at1x_path}");
}

.header {
	a.brand {
		@include ie6png('../images/logo', png, 100% , auto);
	}
}

#page-index {
	.tower .tower-logo {
		@include ie6png('../images/tower-logo', png, 100% , auto);
	}
	.stat p.num {
		@include ie6png('../images/number', png, 100% , auto);
	}
	.others ul li {
		width: 35%;
		i.designboard {
			@include ie6png('../images/designboard', png, 100% , auto);
		}
		i.teamcola {
			@include ie6png('../images/teamcola', png, 100% , auto);
		}
	}
}

#page-team {
	.hire .icon-you {
		@include ie6png('../images/icon-you', png, 100% , auto);
	}
}

.footer {
	.social li {
		a.weibo {
			@include ie6png('../images/weibo', png, 100% , auto);
		}
		a.rss {
			@include ie6png('../images/rss', png, 100% , auto);
		}
		a.weixin {
			@include ie6png('../images/weixin', png, 100% , auto);
		}
	}

	.weixin-info {
		@include ie6png('../images/weixin-info', png, 100% , auto);
	}
}
