.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  opacity: .8;
}

.header {
  position: relative;
  min-height: 50px;
  margin-top: 40px;
}
.header a.brand {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  overflow: hidden;
  width: 241px;
  height: 51px;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
  text-indent: -999px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .header a.brand {
    background-image: url("/images/logo@2x.png");
    background-size: 100% auto;
  }
}
.header .nav ul {
  float: right;
  margin: 0;
}
.header .nav ul li {
  float: left;
  position: relative;
  display: block;
}
.header .nav ul li:first-child {
  margin: 0 35px;
}
.header .nav ul li a {
  font-size: 18px;
  color: #999;
}
.header .nav ul li a.selected {
  color: #000;
}

#page-index {
  text-align: center;
}
#page-index a.btn {
  background-color: #8fbbb6;
  padding: 20px 53px;
  border-radius: 6px;
  color: #fff;
  font-size: 40px;
}
#page-index h2.slogan {
  font-size: 68px;
  color: #000;
  line-height: 88px;
  font-weight: normal;
}
#page-index .tower .tower-logo {
  background-image: url("/images/tower-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 272px;
  width: 200px;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .tower .tower-logo {
    background-image: url("/images/tower-logo@2x.png");
    background-size: 100% auto;
  }
}
#page-index .tower .subtitle {
  font-size: 38px;
  color: #666;
  margin: 24px 0 30px;
}
#page-index .hero-image {
  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  max-width: 839px;
  height: 505px;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .hero-image {
    background-image: url("/images/hero@2x.jpg");
    background-size: 100% auto;
  }
}
#page-index .stat {
  margin: 48px 0 80px;
}
#page-index .stat h3 {
  font-size: 48px;
  color: #666;
  font-weight: normal;
  margin: 0;
}
#page-index .stat p.num {
  font-size: 220px;
  font-weight: bold;
  color: #000;
  margin: 0;
  line-height: 1;
}
#page-index .stat .plus {
  font-size: 160px;
  font-weight: normal;
  color: #666;
  line-height: 200px;
  margin-left: 20px;
  vertical-align: top;
}
#page-index .others {
  padding: 240px 0 180px;
}
#page-index .others ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
#page-index .others ul li {
  width: 42%;
  margin-left: 8%;
  float: left;
  text-align: left;
}
#page-index .others ul li a {
  display: block;
  cursor: pointer;
}
#page-index .others ul li i {
  width: 85px;
  height: 85px;
  float: left;
  position: relative;
}
#page-index .others ul li i.designboard {
  background-image: url("/images/designboard.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .others ul li i.designboard {
    background-image: url("/images/designboard@2x.png");
    background-size: 100% auto;
  }
}
#page-index .others ul li i.teamcola {
  background-image: url("/images/teamcola.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .others ul li i.teamcola {
    background-image: url("/images/teamcola@2x.png");
    background-size: 100% auto;
  }
}
#page-index .others ul li .detail {
  margin-left: 110px;
  padding: 10px 0;
}
#page-index .others ul li .detail h4 {
  letter-spacing: 4px;
}
#page-index .others ul li .detail h4, #page-index .others ul li .detail p {
  margin: 0;
  font-size: 28px;
  font-weight: lighter;
  color: #000;
}

#page-team {
  text-align: center;
}
#page-team h2.title {
  font-size: 64px;
  font-weight: normal;
  margin: 0;
}
#page-team p.subtitle {
  font-size: 44px;
  line-height: 2em;
  color: #7b7b7b;
  margin: 0 0 30px 0;
}
#page-team .earth {
  background-image: url("/images/earth.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 937px;
  position: absolute;
  left: 0;
  right: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth {
    background-image: url("/images/earth@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .map {
  position: relative;
  height: 100%;
  width: 768px;
  margin: auto;
}
#page-team .earth .member {
  position: absolute;
}
#page-team .earth .member .avatar {
  background-repeat: no-repeat;
  display: block;
  width: 80px;
  height: 80px;
}
#page-team .earth .member .avatar.triangle {
  width: 81px;
  height: 106px;
}
#page-team .earth .jack {
  top: 114px;
  left: 24px;
}
#page-team .earth .jack .avatar {
  background-image: url("/images/jack.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .jack .avatar {
    background-image: url("/images/jack@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .zchar {
  top: 257px;
  left: 44px;
}
#page-team .earth .zchar .avatar {
  background-image: url("/images/zchar.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .zchar .avatar {
    background-image: url("/images/zchar@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .malu {
  top: 160px;
  left: 122px;
}
#page-team .earth .malu .avatar {
  background-image: url("/images/malu.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .malu .avatar {
    background-image: url("/images/malu@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .manfred {
  top: 254px;
  right: 4px;
}
#page-team .earth .manfred .avatar {
  background-image: url("/images/manfred.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .manfred .avatar {
    background-image: url("/images/manfred@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .farthinker {
  top: 406px;
  right: 345px;
}
#page-team .earth .farthinker .avatar {
  background-image: url("/images/farthinker.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .farthinker .avatar {
    background-image: url("/images/farthinker@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .fish {
  top: 406px;
  right: 255px;
}
#page-team .earth .fish .avatar {
  background-image: url("/images/fish.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .fish .avatar {
    background-image: url("/images/fish@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .maklu {
  top: 406px;
  right: 165px;
}
#page-team .earth .maklu .avatar {
  background-image: url("/images/maklu.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .maklu .avatar {
    background-image: url("/images/maklu@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .mybeky {
  top: 406px;
  right: 75px;
}
#page-team .earth .mybeky .avatar {
  background-image: url("/images/mybeky.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .mybeky .avatar {
    background-image: url("/images/mybeky@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .seandong {
  top: 406px;
  right: -15px;
}
#page-team .earth .seandong .avatar {
  background-image: url("/images/seandong.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .seandong .avatar {
    background-image: url("/images/seandong@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .tinyfive {
  top: 406px;
  right: -105px;
}
#page-team .earth .tinyfive .avatar {
  background-image: url("/images/tinyfive.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .tinyfive .avatar {
    background-image: url("/images/tinyfive@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .ruochen {
  top: 406px;
  right: -190px;
}
#page-team .earth .ruochen .avatar {
  background-image: url("/images/ruochen.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .ruochen .avatar {
    background-image: url("/images/ruochen@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .snow {
  top: 486px;
  right: 300px;
}
#page-team .earth .snow .avatar {
  background-image: url("/images/snow.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .snow .avatar {
    background-image: url("/images/snow@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .dragon {
  top: 486px;
  right: 210px;
}
#page-team .earth .dragon .avatar {
  background-image: url("/images/dragon.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .dragon .avatar {
    background-image: url("/images/dragon@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .calf {
  top: 486px;
  right: 120px;
}
#page-team .earth .calf .avatar {
  background-image: url("/images/calf.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .calf .avatar {
    background-image: url("/images/calf@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .lendice {
  top: 486px;
  right: 30px;
}
#page-team .earth .lendice .avatar {
  background-image: url("/images/lendice.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .lendice .avatar {
    background-image: url("/images/lendice@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .dongdong {
  top: 486px;
  right: -60px;
}
#page-team .earth .dongdong .avatar {
  background-image: url("/images/dongdong.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .dongdong .avatar {
    background-image: url("/images/dongdong@2x.png");
    background-size: 100% auto;
  }
}
#page-team .earth .alfredwu {
  top: 486px;
  right: -150px;
}
#page-team .earth .alfredwu .avatar {
  background-image: url("/images/alfredwu.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .earth .alfredwu .avatar {
    background-image: url("/images/alfredwu@2x.png");
    background-size: 100% auto;
  }
}
#page-team .hire {
  padding: 0;
  width: 100%;
  list-style: none;
  margin-top: 1010px;
}
#page-team .hire li {
  width: 35%;
  margin-left: 10%;
  display: inline-block;
  text-align: left;
}
#page-team .hire li h4 {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
  margin: 0;
}
#page-team .hire li p {
  font-size: 20px;
  color: #7d7d7d;
  line-height: 1.5em;
  margin: 0;
}
#page-team p.slogan {
  font-size: 36px;
  line-height: 1.4em;
  margin: 120px 0 36px;
}
#page-team p.tips {
  font-size: 16px;
  color: #666;
  line-height: 1.3em;
  margin-bottom: 160px;
}
#page-team p.tips a {
  color: #43b4dd;
}
#page-team .contact {
  margin-bottom: 160px;
}
#page-team .contact .coffee {
  background-image: url("/images/coffee.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 122px;
  height: 117px;
  display: block;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .contact .coffee {
    background-image: url("/images/coffee@2x.png");
    background-size: 100% auto;
  }
}
#page-team .contact h2 {
  font-size: 56px;
  font-weight: normal;
  margin: 60px 0;
}
#page-team .contact .contact-card {
  margin: 0 auto;
  width: 440px;
}
#page-team .contact .contact-card i {
  background-image: url("/images/manfred-large.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 104px;
  height: 108px;
  display: block;
  float: left;
  position: relative;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .contact .contact-card i {
    background-image: url("/images/manfred-large@2x.png");
    background-size: 100% auto;
  }
}
#page-team .contact .contact-card .detail {
  margin-left: 130px;
  text-align: left;
}
#page-team .contact .contact-card .detail .name {
  font-size: 36px;
}
#page-team .contact .contact-card .detail .position {
  font-size: 24px;
  color: #666;
}
#page-team .contact .contact-card .detail p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
  color: #666;
}
#page-team .contact .contact-card .detail p a {
  color: #666;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #777;
}
.footer .container {
  width: 80%;
  padding: 50px 0 43px;
}
.footer .container p {
  margin: 36px 0 0;
  color: #aaa;
  font-size: 16px;
}

.footer-links, .social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  float: left;
  margin-right: 20px;
  color: #aaa;
}
.footer-links li a {
  font-size: 16px;
  color: #aaa;
}

.social {
  float: right;
}
.social li {
  display: inline-block;
  margin: 0 25px;
}
.social li a {
  display: block;
}
.social li a.rss {
  background-image: url("/images/rss.png");
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .social li a.rss {
    background-image: url("/images/rss@2x.png");
    background-size: 100% auto;
  }
}
.social li a.weibo {
  background-image: url("/images/weibo.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 28px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .social li a.weibo {
    background-image: url("/images/weibo@2x.png");
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {
  #page-index .container {
    margin-top: 40px;
  }
  #page-index .container a.btn {
    font-size: 20px;
    padding: 14px 40px;
  }
  #page-index .container h2.slogan {
    font-size: 26px;
    line-height: 38px;
  }
  #page-index .container .tower-logo {
    max-width: 120px;
    max-height: 180px;
  }
  #page-index .container .tower .subtitle {
    font-size: 26px;
    margin: 12px 0 20px;
  }
  #page-index .container .hero-image {
    height: 400px;
  }
  #page-index .container .stat {
    margin: 26px 0 60px;
  }
  #page-index .container .stat h3 {
    font-size: 26px;
  }
  #page-index .container .stat p.num {
    font-size: 60px;
    margin-top: 10px;
  }
  #page-index .container .stat .plus {
    font-size: 40px;
    line-height: 50px;
    margin-left: 10px;
  }
  #page-index .container .others {
    padding: 100px 0 180px;
  }
  #page-index .container .others ul li {
    width: 80%;
    text-align: center;
    min-height: 80px;
  }
  #page-index .container .others ul li i {
    max-width: 60px;
    background-size: 60px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  #page-index .container .others ul li .detail {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  #page-index .container .others ul li .detail h4, #page-index .container .others ul li .detail p {
    font-size: 16px;
  }

  #page-team .container {
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #page-team .container h2.title {
    font-size: 36px;
  }
  #page-team .container p.subtitle {
    font-size: 24px;
    line-height: 1.3em;
  }
  #page-team .container .hire {
    margin: 0;
  }
  #page-team .container .hire li {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  #page-team .container .hire li h4 {
    font-size: 24px;
  }
  #page-team .container .hire li p {
    font-size: 16px;
  }
  #page-team .container .slogan {
    font-size: 22px;
    margin: 40px 0 30px;
  }
  #page-team .container .tips {
    margin-bottom: 60px;
  }
  #page-team .container .contact {
    margin-bottom: 60px;
  }
  #page-team .container .contact h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  #page-team .container .contact .contact-card {
    width: 100%;
  }
  #page-team .container .contact .contact-card .avatar {
    display: none;
  }
  #page-team .container .contact .contact-card .detail {
    margin: 0;
    text-align: center;
  }
  #page-team .container .contact .contact-card .detail p {
    font-size: 18px;
  }

  .header {
    margin-top: 20px;
  }
  .header a.brand {
    background-size: 50%;
    position: absolute;
  }

  .footer-links {
    display: none;
  }

  .footer .container {
    width: 100%;
    padding: 25px 0 30px;
    text-align: center;
  }
  .footer .container p {
    margin: 20px 0 0;
  }

  .social {
    float: none;
    width: 62%;
    margin: 0 auto;
  }
  .social li {
    margin: 0 4%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  #page-index .container {
    margin-top: 60px;
  }
  #page-index .container h2.slogan {
    font-size: 58px;
    line-height: 78px;
  }

  #page-team .container {
    margin-top: 100px;
  }
  #page-team .container .hire li {
    width: 40%;
    margin-left: 5%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  #page-index .container {
    margin-top: 80px;
  }

  #page-team .container {
    margin-top: 120px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  #page-index .container {
    margin-top: 100px;
  }

  #page-team .container {
    margin-top: 140px;
  }

  .tower {
    margin-top: 50px;
  }
}
