body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  opacity: .8;
}

.header {
  position: relative;
  min-height: 50px;
  margin-top: 40px;
}
.header a.brand {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  float: left;
  overflow: hidden;
  width: 241px;
  height: 51px;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
  text-indent: -9909px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .header a.brand {
    background-image: url("../images/logo@2x.png");
    background-size: 100% auto;
  }
}
.header .nav ul {
  float: right;
  margin: 0;
}
.header .nav ul li {
  float: left;
  display: block;
}
.header .nav ul li:first-child {
  margin: 0 35px;
}
.header .nav ul li a {
  font-size: 18px;
  color: #999;
}
.header .nav ul li a.selected {
  color: #000;
}

#page-index {
  text-align: center;
}
#page-index .container {
  margin-top: 100px;
}
#page-index a.btn {
  background-color: #8fbbb6;
  padding: 20px 53px;
  border-radius: 6px;
  color: #fff;
  font-size: 40px;
  display: block;
  width: 300px;
  margin: 0 auto;
}
#page-index h2.slogan {
  font-size: 68px;
  color: #000;
  line-height: 88px;
  font-weight: normal;
}
#page-index .tower .tower-logo {
  background-image: url("../images/tower-logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: 100%;
  height: 272px;
  width: 200px;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .tower .tower-logo {
    background-image: url("../images/tower-logo@2x.png");
    background-size: 100% auto;
  }
}
#page-index .tower .subtitle {
  font-size: 38px;
  color: #666;
  margin: 24px 0 60px;
}
#page-index .hero-image {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: 100%;
  background-position: 50%;
  max-width: 839px;
  height: 505px;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .hero-image {
    background-image: url("../images/hero@2x.jpg");
    background-size: 100% auto;
  }
}
#page-index .hero-onphone {
  display: none;
}
#page-index .stat {
  margin: 48px 0 80px;
}
#page-index .stat h3 {
  font-size: 48px;
  margin-bottom: 16px;
  color: #666;
  font-weight: normal;
  margin: 0;
}
#page-index .stat p.num {
  font-size: 220px;
  font-weight: bold;
  color: #000;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url("../images/number.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 826px;
  height: 180px;
  margin: 50px auto 10px;
  position: relative;
  left: 28px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .stat p.num {
    background-image: url("../images/number@2x.png");
    background-size: 100% auto;
  }
}
#page-index .stat .num-onphone {
  display: none;
  width: 40%;
  margin: 16px auto 0;
}
#page-index .others {
  padding: 160px 0 180px;
}
#page-index .others ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
#page-index .others ul li {
  width: 40%;
  margin-left: 8%;
  float: left;
  text-align: left;
}
#page-index .others ul li a {
  display: block;
  cursor: pointer;
}
#page-index .others ul li i {
  width: 85px;
  height: 85px;
  float: left;
  position: relative;
}
#page-index .others ul li i.designboard {
  background-image: url("../images/designboard.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .others ul li i.designboard {
    background-image: url("../images/designboard@2x.png");
    background-size: 100% auto;
  }
}
#page-index .others ul li i.teamcola {
  background-image: url("../images/teamcola.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-index .others ul li i.teamcola {
    background-image: url("../images/teamcola@2x.png");
    background-size: 100% auto;
  }
}
#page-index .others ul li .detail {
  margin-left: 110px;
  padding: 10px 0;
}
#page-index .others ul li .detail h4 {
  letter-spacing: 4px;
}
#page-index .others ul li .detail h4, #page-index .others ul li .detail p {
  margin: 0;
  font-size: 28px;
  font-weight: lighter;
  color: #000;
}

#page-team {
  text-align: center;
}
#page-team .container {
  margin-top: 100px;
}
#page-team h2.title {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
}
#page-team p.subtitle {
  font-size: 56px;
  line-height: 2em;
  color: #7b7b7b;
  margin: 0 0 120px 0;
}
#page-team #members {
  padding: 0;
}
#page-team #members::after {
  content: '';
  background-image: url("../images/icon-line.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 159px;
  height: 18px;
  display: block;
  margin: 35px auto 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team #members::after {
    background-image: url("../images/icon-line@2x.png");
    background-size: 100% auto;
  }
}
#page-team #members .mybeky .cat {
  background-image: url("../images/cat.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: 100% auto;
  width: 28px;
  height: 25px;
  display: inline-block;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team #members .mybeky .cat {
    background-image: url("../images/cat@2x.png");
    background-size: 100% auto;
  }
}
#page-team .hire {
  text-align: left;
  padding: 0 2%;
}
#page-team .hire p {
  font-size: 30px;
  line-height: 48px;
  margin: 70px 0 0 0;
}
#page-team .hire p span {
  font-size: 24px;
  color: #868686;
}
#page-team .hire p.locations {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
}
#page-team .hire p.slogan-onphone {
  display: none;
}
#page-team .hire p.everywhere {
  margin: 0 0 25px;
  text-align: center;
  font-size: 30px;
  color: #7ecfbe;
}
#page-team .hire p.everywhere::before {
  content: '';
  background-image: url("../images/icon-gps-blue.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 28px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  top: 6px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .hire p.everywhere::before {
    background-image: url("../images/icon-gps-blue@2x.png");
    background-size: 100% auto;
  }
}
#page-team .hire p.email {
  margin: 0 0 180px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #7ecfbe;
}
#page-team .hire p.email a {
  font-size: 28px;
  color: #7ecfbe;
}
#page-team .hire .icon-you {
  background-image: url("../images/icon-you.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 281px;
  height: 281px;
  display: block;
  margin: 150px auto 40px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .hire .icon-you {
    background-image: url("../images/icon-you@2x.png");
    background-size: 100% auto;
  }
}
#page-team .member {
  width: 33%;
  margin-bottom: 85px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#page-team .member .avatar {
  width: 240px;
  height: 240px;
  display: block;
  margin: 0 auto 16px;
}
#page-team .member p {
  margin: 0;
  line-height: 48px;
}
#page-team .member .name {
  font-size: 36px;
}
#page-team .member .title {
  font-size: 24px;
  color: #999;
}
#page-team .member .location {
  font-size: 20px;
  color: #333;
}
#page-team .member .location::before {
  content: '';
  background-image: url("../images/icon-gps.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 16px;
  height: 23px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .member .location::before {
    background-image: url("../images/icon-gps@2x.png");
    background-size: 100% auto;
  }
}
#page-team .jack .avatar {
  background-image: url("../images/jack.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .jack .avatar {
    background-image: url("../images/jack@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .zchar .avatar {
  background-image: url("../images/zchar.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .zchar .avatar {
    background-image: url("../images/zchar@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .malu .avatar {
  background-image: url("../images/malu.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .malu .avatar {
    background-image: url("../images/malu@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .manfred .avatar {
  background-image: url("../images/manfred.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .manfred .avatar {
    background-image: url("../images/manfred@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .farthinker .avatar {
  background-image: url("../images/farthinker.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .farthinker .avatar {
    background-image: url("../images/farthinker@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .fish .avatar {
  background-image: url("../images/fish.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .fish .avatar {
    background-image: url("../images/fish@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .maklu .avatar {
  background-image: url("../images/maklu.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .maklu .avatar {
    background-image: url("../images/maklu@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .mybeky .avatar {
  background-image: url("../images/mybeky.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .mybeky .avatar {
    background-image: url("../images/mybeky@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .seandong .avatar {
  background-image: url("../images/seandong.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .seandong .avatar {
    background-image: url("../images/seandong@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .tinyfive .avatar {
  background-image: url("../images/tinyfive.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .tinyfive .avatar {
    background-image: url("../images/tinyfive@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .ruochen .avatar {
  background-image: url("../images/ruochen.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .ruochen .avatar {
    background-image: url("../images/ruochen@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .snow .avatar {
  background-image: url("../images/snow.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .snow .avatar {
    background-image: url("../images/snow@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .dragon .avatar {
  background-image: url("../images/dragon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .dragon .avatar {
    background-image: url("../images/dragon@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .calf .avatar {
  background-image: url("../images/calf.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .calf .avatar {
    background-image: url("../images/calf@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .lendice .avatar {
  background-image: url("../images/lendice.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .lendice .avatar {
    background-image: url("../images/lendice@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .dongdong .avatar {
  background-image: url("../images/dongdong.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .dongdong .avatar {
    background-image: url("../images/dongdong@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .alfredwu .avatar {
  background-image: url("../images/alfredwu.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .alfredwu .avatar {
    background-image: url("../images/alfredwu@2x.jpg");
    background-size: 100% auto;
  }
}
#page-team .xiaoyan .avatar {
  background-image: url("../images/xiaoyan.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  #page-team .xiaoyan .avatar {
    background-image: url("../images/xiaoyan@2x.jpg");
    background-size: 100% auto;
  }
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #777;
}
.footer .container {
  width: 80%;
  padding: 50px 0 30px;
  position: relative;
}
.footer .container p {
  margin: 20px 0 0;
  color: #aaa;
  font-size: 16px;
  clear: both;
}
.footer .footer-links, .footer .social {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links {
  float: left;
}
.footer .footer-links li {
  display: inline-block;
  margin-right: 20px;
  color: #aaa;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.footer .footer-links li:last-child {
  margin: 0;
}
.footer .footer-links li a {
  font-size: 16px;
  color: #aaa;
}
.footer .social {
  float: right;
}
.footer .social li {
  margin: 0 25px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.footer .social li a {
  display: block;
}
.footer .social li a.rss {
  background-image: url("../images/rss-large.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.rss {
    background-image: url("../images/rss-large@2x.png");
    background-size: 100% auto;
  }
}
.footer .social li a.weixin {
  background-image: url("../images/weixin-large.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.weixin {
    background-image: url("../images/weixin-large@2x.png");
    background-size: 100% auto;
  }
}
.footer .social li a.weibo {
  background-image: url("../images/weibo-large.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.weibo {
    background-image: url("../images/weibo-large@2x.png");
    background-size: 100% auto;
  }
}
.footer .weixin-info {
  background-image: url("../images/weixin-info.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 195px;
  height: 266px;
  display: none;
  position: absolute;
  top: -218px;
  right: 28px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .footer .weixin-info {
    background-image: url("../images/weixin-info@2x.png");
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {
  #page-index .container {
    margin-top: 40px;
  }
  #page-index .container a.btn {
    font-size: 20px;
    padding: 14px 40px;
    width: 150px;
  }
  #page-index .container h2.slogan {
    font-size: 26px;
    line-height: 38px;
  }
  #page-index .container .tower-logo {
    max-width: 120px;
    max-height: 180px;
  }
  #page-index .container .tower .subtitle {
    font-size: 26px;
    margin: 12px 0 60px;
  }
  #page-index .container .hero-onphone {
    display: block;
    width: 100%;
  }
  #page-index .container .stat {
    margin: 36px 0 40px;
  }
  #page-index .container .stat h3 {
    font-size: 26px;
  }
  #page-index .container .stat p.num {
    font-size: 60px;
    margin-top: 10px;
  }
  #page-index .container .stat .num-onphone {
    display: block;
  }
  #page-index .container .others {
    padding: 100px 0 250px;
  }
  #page-index .container .others ul li {
    width: 80%;
    text-align: center;
    min-height: 80px;
  }
  #page-index .container .others ul li i {
    max-width: 60px;
    background-size: 60px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  #page-index .container .others ul li .detail {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  #page-index .container .others ul li .detail h4, #page-index .container .others ul li .detail p {
    font-size: 16px;
  }

  #page-team .container {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  #page-team .container h2.title {
    font-size: 28px;
    line-height: 44px;
  }
  #page-team .container p.subtitle {
    font-size: 15px;
    line-height: 44px;
    margin: 0 0 24px 0;
  }
  #page-team .container #members .mybeky .cat {
    width: 14px;
    height: 12px;
  }
  #page-team .container #members::after {
    width: 80px;
    height: 9px;
    margin: 10px auto 0;
  }
  #page-team .container .hire {
    margin: 0 5%;
  }
  #page-team .container .hire p {
    font-size: 12px;
    line-height: 20px;
    margin: 30px 0 0 0;
  }
  #page-team .container .hire p span {
    font-size: 9px;
  }
  #page-team .container .hire p.locations {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
  }
  #page-team .container .hire p.slogan-onphone {
    display: block;
    text-align: center;
  }
  #page-team .container .hire p.everywhere {
    margin: 0 0 12px;
    font-size: 15px;
  }
  #page-team .container .hire p.everywhere::before {
    content: '';
    background-image: url("../images/icon-gps-blue.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 14px;
    height: 20px;
    margin-right: 6px;
    top: 3px;
  }
  #page-team .container .hire p.email {
    margin: 0 0 60px;
    font-size: 15px;
    line-height: 18px;
  }
  #page-team .container .hire p.email a {
    font-size: 14px;
  }
  #page-team .container .hire .icon-you {
    background-image: url("../images/icon-you.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 140px;
    height: 140px;
    display: block;
    margin: 30px auto 20px;
  }
  #page-team .container .member {
    width: 100%;
    margin-bottom: 20px;
  }
  #page-team .container .member .avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto 8px;
  }
  #page-team .container .member p {
    margin: 0;
    line-height: 24px;
  }
  #page-team .container .member .name {
    font-size: 18px;
  }
  #page-team .container .member .title {
    font-size: 12px;
  }
  #page-team .container .member .location {
    font-size: 10px;
    color: #333;
  }
  #page-team .container .member .location::before {
    content: '';
    background-image: url("../images/icon-gps.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 8px;
    height: 12px;
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
  .header {
    margin-top: 20px;
  }
  .header a.brand {
    background-size: 50%;
    position: absolute;
  }
  .header .nav ul li:first-child {
    margin: 0 25px;
  }
  .header .nav ul li a {
    font-size: 12px;
  }

  .footer .container {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
  .footer .container p {
    margin: 10px 0 0;
    font-size: 10px;
  }
  .footer .footer-links {
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  .footer .footer-links li {
    margin-right: 12px;
    font-size: 10px;
  }
  .footer .footer-links li a {
    font-size: 10px;
  }
  .footer .social {
    float: none;
    width: 100%;
    margin: 15px auto 0;
  }
  .footer .social li {
    margin: 0 8px;
  }
  .footer .social li a.rss {
    background-image: url("../images/rss.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
  }
  .footer .social li a.weixin {
    background-image: url("../images/weixin.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
  }
  .footer .social li a.weibo {
    background-image: url("../images/weibo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
  }
  .footer .weixin-info {
    background-image: url("../images/weixin-info-small.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 98px;
    height: 68px;
    top: -20px;
  }
  .hidden {
    display: none;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  #page-team .container .hire p.everywhere::before {
    background-image: url("../images/icon-gps-blue@2x.png");
    background-size: 100% auto;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  #page-team .container .hire .icon-you {
    background-image: url("../images/icon-you@2x.png");
    background-size: 100% auto;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  #page-team .container .member .location::before {
    background-image: url("../images/icon-gps@2x.png");
    background-size: 100% auto;
  }
}

@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.rss {
    background-image: url("../images/rss@2x.png");
    background-size: 100% auto;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.weixin {
    background-image: url("../images/weixin@2x.png");
    background-size: 100% auto;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .footer .social li a.weibo {
    background-image: url("../images/weibo@2x.png");
    background-size: 100% auto;
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .footer .weixin-info {
    background-image: url("../images/weixin-info-small@2x.png");
    background-size: 100% auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  .tower {
    margin-top: 50px;
  }
}
